<%- include("partials/header.ejs") %>
<div class="container">
    <h1 class="page-title">
        Comics page
    </h1>
    <div class="row mt-2">
        <% comics.forEach((comic) => { %>
            <div class="card m-3">
                <a href="#">
                    <img class="card-img card-img-top" src="<%= comic.image %>" alt="Picture of the comic">
                </a>
                <h3 class="card-title mt-3"><%= comic.title %></h3>
                <p class="card-text mb-3 mx-3"><%= comic.description %>n</p>
            </div>
        <% }) %>
    </div>
</div>
<%- include("partials/footer.ejs") %>