<%- include("partials/header.ejs") %>
<div class="container">
    <h1 class="page-title">
        Comics page
    </h1>
    <div class="comics-container">
        <% comics.forEach((comic) => { %>
            <div class="card">
                <img class="card-img" src="<%= comic.image %>" alt="Picture of the comic">
                <h3 class="card-title"><%= comic.title %></h3>
                <p class="card-description"><%= comic.description %>n</p>
            </div>
        <% }) %>
    </div>
</div>
<%- include("partials/footer.ejs") %>